<%- include('./partials/header') %>

    <body>
        <nav class="navbar">
            <div class="logo">
                <a href="/"> <img src="resources/logo.png" alt="Company Logo"></a>
            </div>

        </nav>

        <div class="contact-container">
            <h2>Connect with us here </h2>

            <div class="contact-block">
                <h3>For queries and help contact us here:</h3>
                <div class="contact-info">
                    <a href="mailto:<%=contactEmail %>">
                        <i class="fa-solid fa-envelope" style="color: #000000;"></i> <b>Email:</b> <%=contactEmail %>
                    </a>
                </div>
            </div>
            <div class="contact-block">
                <h3>Reach us on phone here:</h3>
                <div class="contact-info">
                    <a href="tel: <%=contactNumber %>">
                        <i class="fa-solid fa-phone" style="color: #000000;"></i> <b>Phone: </b> <%=contactNumber %></a>
                </div>
            </div>
            <div class="contact-block">
                <h3>Visit our our main office here:</h3>
                <div class="contact-info">
                    <div class="map">

                    </div>
                    <a href="<%=contactAddressLink %>">
                    <i class="fa-solid fa-location-dot" style="color: #000000;"></i> &nbsp; <b>Address:</b>
                    <p> <%=contactAddress %></p>
                    </a>
                </div>
            </div>
        </div>

        <%- include('./partials/footer') %>