<%- include('./partials/header') %>

    <%- include('./partials/navbar', { activePage: activePage }) %>

        <div class="carousel-main">
            <div class="carousel-container" style="height: 450px;">
                <button id="prevBtn" class="carousel-btn prev-btn">&lt;</button>
                <div class="carousel-slider">
                    <% images.forEach((image, index)=> { %>
                        <div class="carousel-slide <%= index === 0 ? 'active' : '' %>">
                            <img src="<%= image %>" alt="Image <%= index + 1 %>">
                        </div>
                        <% }); %>
                </div>
                <button id="nextBtn" class="carousel-btn next-btn">&gt;</button>
            </div>
            <div class="carousel-dots"></div>
        </div>
<div class="text-content">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, tempora sapiente? Delectus ut repellat dolorem labore incidunt voluptas quisquam tempora quos quaerat voluptatibus explicabo dignissimos asperiores, impedit non, eligendi officia sapiente nam rerum provident deleniti veniam aliquam accusamus. Officiis in inventore similique illo vel est sit iusto eius nulla accusamus!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, tempora sapiente? Delectus ut repellat dolorem labore incidunt voluptas quisquam tempora quos quaerat voluptatibus explicabo dignissimos asperiores, impedit non, eligendi officia sapiente nam rerum provident deleniti veniam aliquam accusamus. Officiis in inventore similique illo vel est sit iusto eius nulla accusamus!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, tempora sapiente? Delectus ut repellat dolorem labore incidunt voluptas quisquam tempora quos quaerat voluptatibus explicabo dignissimos asperiores, impedit non, eligendi officia sapiente nam rerum provident deleniti veniam aliquam accusamus. Officiis in inventore similique illo vel est sit iusto eius nulla accusamus!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, tempora sapiente? Delectus ut repellat dolorem labore incidunt voluptas quisquam tempora quos quaerat voluptatibus explicabo dignissimos asperiores, impedit non, eligendi officia sapiente nam rerum provident deleniti veniam aliquam accusamus. Officiis in inventore similique illo vel est sit iusto eius nulla accusamus!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, tempora sapiente? Delectus ut repellat dolorem labore incidunt voluptas quisquam tempora quos quaerat voluptatibus explicabo dignissimos asperiores, impedit non, eligendi officia sapiente nam rerum provident deleniti veniam aliquam accusamus. Officiis in inventore similique illo vel est sit iusto eius nulla accusamus!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, tempora sapiente? Delectus ut repellat dolorem labore incidunt voluptas quisquam tempora quos quaerat voluptatibus explicabo dignissimos asperiores, impedit non, eligendi officia sapiente nam rerum provident deleniti veniam aliquam accusamus. Officiis in inventore similique illo vel est sit iusto eius nulla accusamus!

</p>    <img src="/resources/power.gif" alt="">

</div>
        <div class="review-main">
            <h2 class="head">Our Clients and their experience</h2>

            <button class="prev-button"><img src="/resources/arrow.png" alt=""></button>
            <button class="next-button"><img src="/resources/arrow.png" alt=""></button>
            
            <div class="block-container">
                <% reviews.forEach(element=> { %>
                    <div class="blocks">

                        <div class="rating">
                            <div>
                                <% for (let i=0; i < 5; i++) { %>
                                    <span class="show-star <%= i < element.ratings ? 'gold-star' : '' %>"><i class="fa-solid fa-star"></i></span>
                                    <% } %>
                            </div>
                            <h4>
                                <strong>

                                    <%= element.name %>
                                </strong>
                            </h4>
                            <h5>
                                <strong>

                                    <%- ratingTocomment[element.ratings] %>
                            </h5>

                            </strong>
                        </div>
                        <p>
                            <%= element.review %>
                        </p>
                    </div>
                    <% }) %>
            </div>

        </div>

        <div class="review-form-container">

            <h1>Impressed by work ? Drop your feedback here.</h1>

            <!-- </div> -->

            <form action="/" method="POST" class="review-form">

                <div class="form-group">
                    <label for="name"><strong>Name</strong></label>
                    <input type="text" id="name" name="name" required placeholder="Enter your name here">
                </div>

                <div class="form-group">
                    <label for="phoneNumber"><strong>Phone Number</strong></label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter your number (optional)">
                </div>

                <div class="form-group">
                    <label for="rating"><strong>Rate us </strong></label>

                    <span class="star" data-rating="1"><i class="fa-solid fa-star"></i></span>
                    <span class="star" data-rating="2"><i class="fa-solid fa-star"></i></span>
                    <span class="star" data-rating="3"><i class="fa-solid fa-star"></i></span>
                    <span class="star" data-rating="4"><i class="fa-solid fa-star"></i></span>
                    <span class="star" data-rating="5"><i class="fa-solid fa-star"></i></span>

                    <!-- Hidden input field to store the selected rating -->
                    <input type="hidden" id="rating" name="rating" value="1">
                </div>

                <div class="form-group">
                    <label for="review"><strong> Review </strong></label>
                    <textarea id="review" name="review" cols="68" rows="7"
                        placeholder="Tell us about your experience"></textarea>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>


        <div class="text-content">
            <img src="/resources/giphy.gif" alt="">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus nam optio inventore sapiente
                quibusdam ducimus cum alias at atque porro, ipsa officia eius magni maiores praesentium eum modi
                possimus
                eveniet dicta hic? Voluptas expedita voluptatibus dignissimos quisquam eligendi ut sed incidunt,
                sapiente
                necessitatibus rem.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus nam optio inventore sapiente
                quibusdam ducimus cum alias at atque porro, ipsa officia eius magni maiores praesentium eum modi
                possimus
                eveniet dicta hic? Voluptas expedita voluptatibus dignissimos quisquam eligendi ut sed incidunt,
                sapiente
                necessitatibus rem.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus nam optio inventore sapiente
                quibusdam ducimus cum alias at atque porro, ipsa officia eius magni maiores praesentium eum modi
                possimus
                eveniet dicta hic? Voluptas expedita voluptatibus dignissimos quisquam eligendi ut sed incidunt,
                sapiente
                necessitatibus rem.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus nam optio inventore sapiente
                quibusdam ducimus cum alias at atque porro, ipsa officia eius magni maiores praesentium eum modi
                possimus
                eveniet dicta hic? Voluptas expedita voluptatibus dignissimos quisquam eligendi ut sed incidunt,
                sapiente
                necessitatibus rem.
                <br>
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus nam optio inventore sapiente
                quibusdam ducimus cum alias at atque porro, ipsa officia eius magni maiores praesentium eum modi
                possimus
                eveniet dicta hic? Voluptas expedita voluptatibus dignissimos quisquam eligendi ut sed incidunt,
                sapiente
                necessitatibus rem.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus nam optio inventore sapiente
                quibusdam ducimus cum alias at atque porro, ipsa officia eius magni maiores praesentium eum modi
                possimus
                eveniet dicta hic? Voluptas expedita voluptatibus dignissimos quisquam eligendi ut sed incidunt,
                sapiente
                necessitatibus rem.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus nam optio inventore sapiente
                quibusdam ducimus c
            </p>
            
        </div>


        <%- include('./partials/footer') %>


            <script>

                // Get all the star elements
                const stars = document.querySelectorAll('.star');

                // Add a click event listener to each star
                stars.forEach((star) => {
                    star.addEventListener('click', () => {
                        // Get the rating value from the data-rating attribute
                        const rating = parseInt(star.getAttribute('data-rating'));

                        // Update the hidden input field value
                        document.getElementById('rating').value = rating;

                        // Remove the 'active' class from all stars
                        stars.forEach((s) => s.classList.remove('activate'));

                        // Add the 'active' class to the clicked star and previous stars
                        for (let i = 0; i < rating; i++) {
                            stars[i].classList.add('activate');
                        }
                    });
                });

            </script>

<script>const productContainers = [...document.querySelectorAll('.block-container')];
    const nxtBtn = [...document.querySelectorAll('.next-button')];
    const preBtn = [...document.querySelectorAll('.prev-button')];

    productContainers.forEach((item, i) => {
        let containerDimensions = item.getBoundingClientRect();
        let containerWidth = containerDimensions.width;

        nxtBtn[i].addEventListener('click', () => {
            item.scrollLeft += containerWidth;
        })

        preBtn[i].addEventListener('click', () => {
            item.scrollLeft -= containerWidth;
        })
    })
</script>

            <script>
                const mobileToggle = document.getElementById('mobile-toggle');
                const navList = document.getElementById('nav-list');
                const connectList = document.querySelector('.connect-list');

                mobileToggle.addEventListener('click', () => {
                    navList.classList.toggle('active');
                    connectList.classList.toggle('active'); // Toggle connect list visibility
                });


            </script>

            <script>

                const prevBtn = document.getElementById('prevBtn');
                const nextBtn = document.getElementById('nextBtn');
                const slider = document.querySelector('.carousel-slider');
                const slides = document.querySelectorAll('.carousel-slide');
                const dotsContainer = document.querySelector('.carousel-dots');

                let slideIndex = 0;

                function showSlide(index) {
                    slider.style.transform = `translateX(-${index * 100}%)`;
                    slides.forEach((slide, i) => {
                        slide.classList.toggle('active', i === index);
                    });
                    updateDots(index);
                }

                function updateDots(index) {
                    dotsContainer.innerHTML = '';
                    slides.forEach((_, i) => {
                        const dot = document.createElement('span');
                        dot.classList.add('carousel-dot');
                        dot.classList.toggle('active-dot', i === index);
                        dot.addEventListener('click', () => showSlide(i));
                        dotsContainer.appendChild(dot);
                    });
                }

                prevBtn.addEventListener('click', () => {
                    slideIndex = (slideIndex - 1 + slides.length) % slides.length;
                    showSlide(slideIndex);
                });

                nextBtn.addEventListener('click', () => {
                    slideIndex = (slideIndex + 1) % slides.length;
                    showSlide(slideIndex);
                });

                function autoSlide() {
                    setInterval(() => {
                        slideIndex = (slideIndex + 1) % slides.length;
                        showSlide(slideIndex);
                    }, 7000); // Change slide every 7 seconds
                }

                showSlide(slideIndex);
                autoSlide();
            </script>

            </body>


            </html>