<%- include('./partials/header', { cssName: cssName }) %>

    <%- include('./partials/navbar', { activePage: activePage }) %>

        <main class="project-container">
            <div class="top-project">
                <h1>Our Top Projects</h1>
                <% topProjects.forEach((project)=> { %>
                    <div class="project">
                        <img src="resources/work1.png" alt="Project 1">
                        <div class="project-info">

                            <h1>
                                <%= project.name %>
                            </h1>
                            <p>
                                <%= project.description %>
                            </p>
                        </div>
                    </div>
                    <% }); %>
            </div>

            <div class="other-projects">
                <h2>Other Projects</h2>
                <ul class="project-list">
                    <% otherProjects.forEach((project)=> { %>
                        <li><a href="#">
                                <%= project.name %>
                            </a></li>
                        <% }); %>
                            <li class="download"><a href="/downloadList">Click here to download list of our works <i
                                        class="fa-solid fa-download" style="color: #3882dd;"></i></a></li>
                </ul>
            </div>
        </main>

        <%- include('./partials/footer') %>
            </body>

            </html>